.product-reviews{
  .card{
    .rates{
      padding-left: 0;
      li{
        border-bottom: 1px dashed #e9e9e9a8;
        margin-bottom: 15px;
        &:last-child{
          border-bottom: transparent;
          margin-bottom: 0;
        }
      }
    
    }
  }
}
