.colorFilterSidebar{
    margin-top: 20px;
    .colorItem {
        display: flex;
        align-items: center;
        gap: 5px;
        margin: 10px 0;
        input {
          z-index: 11;
          opacity: 0;
          width: 20px;
          height: 20px;
          position: absolute;
          cursor: pointer;
          &:checked + .colorsBox::before {
            transform: scale(1.01);
          }
        }
        .colorsBox {
          width: 18px;
          height: 18px;
          display: block;
          border-radius: 3px;
          border: 1px solid #e9e9e9a4;
          position: relative;
          &::before {
            content: "✓";
            position: absolute;
            width: 20px;
            height: 20px;
            left: 2px;
            top: -4px;
            margin: 0 auto;
            transform: translate(-50%, -50%) scale(0);
            transition: 120ms transform ease-in-out;
          }
        }
      }
}