.productDetailWrapper{
    padding-top: 5px;
    .productInfo{
        padding:30px 0 0 0;
        li{
            padding-bottom: 7px;
        }
        .rate{
            display: flex;
            align-items: center;
            justify-content:flex-start;
            gap: 10px;
            .stars{color:rgb(255, 174, 76);padding-bottom: 5px;}
        }
    }
    .btnLists{
        display: flex;
        gap: 10px;
        button{
            padding: 8px 30px;
            
        }
    }
}