@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

@import './style-config/colors';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.not-found {
  margin: 40px auto 20px;
  width: fit-content;
}
ul{list-style: none;}
a{color:#000!important;text-decoration: none;}
//loader css//
.loaderWrapper{
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #f6f9fc;
  display: flex;
  justify-content: center;
  align-items: center;
}
//loader css end//

.container-fluid{max-width: 1366px;}